.UserProfile{
  .container-myProfile {
    width: 50%;
    border: 2px solid black;

    .profileName {
      text-align: left;
      padding: 0.25em;
      margin: 0.5em;
      font-size: 1.2em;
      font-weight: bold;
    }

    .subContainer-myProfile {
      border-top: 2px solid black;
      display: flex;
      background-color: white;

      .container-image {
        width: 20%;
        padding: 0.25em;
        margin: 0.5em;
        border: 2px solid black;

        .image {
          width: 100%;
          height: 100%;
        }
      }

      .info-myProfile {
        width: 80%;
        margin: 0.5em;
        border: 2px solid black;

        .title-info {
          text-align: left;
          padding: 0.25em;

          h3 {
            margin: 0;
          }
        }

        .text-info {
          margin: 0.1em;
          padding: 0;
          width: 99.5%;
          text-align: left;

          p {
            margin: 0;
          }
        }
      }
    }
  }
}