:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(0, 0, 0, 0.87);
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body{
  height: 100vh;
}

.update {
  color: blue;
}

.delete {
  color: red;
}

.createSection {
  text-align: right;

  .btn-create {
    font-size: 1.1em;
    width: 150px;
    height: 40px;
    border-radius: 7px;
    margin: 0.5em;
    margin-top: 2em;
    color: white;
    background-color: #1e4263;

    &:hover {
      border: 2px solid black;
      background-color: #3d85c6;
      font-weight: bold;
    }
  }
}

.create-container {
  width: 100%;
  margin-top: 2em;
  text-align: center;
  border: 2px solid black;

  .section-container{
    display: flex;
    width: 100%;
    margin: 0.5em;
    .label-section{
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 33.33%;

        .register-label{
            margin: 0.5em;
            font-size: 1.1em;
            font-weight: bold;
            color: #18354f;
        }

        .register-input{
            width: 250px;
            height: 30px;
            border-radius: 7px;
            color: white;
            background-color: #1e4263;

            &::placeholder {
                color: white;
            }
        }
    }
}

.button-section{
    width: 100%;
    margin: 0.5em;

    .btn-register{
        width: 250px;
        height: 40px;
        border-radius: 7px;
        margin: 1em;
        color: white;
        background-color: #1e4263;

        &:hover {
          border: 2px solid black;
          background-color: #3d85c6;
          font-weight: bold;
        }
    }
}

}

.footer-myProfile {
  position: relative;
  left: 334px;
  top: -34px;
  width: 46.25%;
  border: 2px solid black;
  padding: 0.5em;
  text-align: right;

  .btn-myProfile {
    width: 150px;
    height: 40px;
    border-radius: 7px;
    margin: 0.5em;
    color: white;
    background-color: #1e4263;

    &:hover {
      border: 2px solid black;
      background-color: #3d85c6;
      font-weight: bold;
    }
  }
}

.update-container {
  margin: 2em;
  width: 50%;
  height: 370px;
  position: relative;
  left: 23%;
  border: 3px solid #1e4263;
  background-color: #c4daed;

  .section-container {
    display: flex;
    width: 100%;
    margin: 0.5em;
    .label-section {
      width: 50%;
      margin: 0.3em;

      .register-label {
        margin: 0.5em;
        font-size: 1.1em;
        font-weight: bold;
        color: #18354f;
      }

      .register-input {
        width: 250px;
        height: 30px;
        border-radius: 7px;
        color: white;
        background-color: #1e4263;

        &::placeholder {
          color: white;
        }
      }
    }
  }

  .button-section {
    width: 100%;
    margin: 0.5em;

    .btn-register {
      width: 250px;
      height: 40px;
      border-radius: 7px;
      margin: 1em;
      color: white;
      background-color: #1e4263;

      &:hover {
        border: 2px solid black;
        background-color: #3d85c6;
        font-weight: bold;
      }
    }
  }
}

@media only screen and (max-width: 480px) {

  //Estilos Responsive Página Citas
  .create-container{
    .section-container {
      width: 100%;
      display: flex;
      flex-direction: column;

      .label-section{
        width: 100%;
        display: flex;
        justify-content: center;

        .register-label{
          width: 100%;
        }

        .register-input{
          width: 200px;
          margin-right: 0.8em;
        }
      }
    }

    .button-section{
      width: 100%;

      .btn-register{
        width: 100px;
      }
    }
  }

  //Estilos Responsive Home
  .Home{
    width: 100%;

    .main-container{
      width: 100%;
      display: block;

      .main-text{
        width: 100%;
      }

      .main-image{
        width: 100%;
      }
    }
  }
  //Estilos Responsive Login
  .Login{
    width: 100%;

    .main-container{
      width: 100%;
      display: flex;
      justify-content: center;
      flex-direction: column;

      .login-container{
        width: 100%;
        margin: 0;
      }

      .container-image{
        display: none;
      }
    }
  }

  //Estilos Responsive Registro
  .Register{
    width: 100%;

    .main-container{
      width: 100%;

      .register-container{
        width: 100%;
        height: 500px;

        .section-container{
          display: block;

          .label-section{
            width: 100%;

            .register-input{
              margin-right: 2em;
            }
          }
        }

        .button-section{
          width: 100%;

          .btn-register{
            margin-right: 2em;
          }
        }
      }
    }
  }

  //Estilos Responsive Profile
  .Profile{
    display: block;
    .container-myProfile{
      width: 100%;

      .subContainer-myProfile{
        width: 100%;
        display: block;

        .container-image{
          width:  87%;

          .image{
            width: 100%;
            height: 100%;
          }
        }

        .info-myProfile{
          width:  91%;
        }
      }
    }
  }

  .footer-myProfile{
    width: 73%;
    left: 31.5px;
  }


  .update-container{
    width: 100%;
    height: 640px;
    margin-top: 3em;
    margin-right: 3em;
    left: -10%;
    
    h3{
      text-align: center;
    }
    .section-container{
      width: 100%;
      justify-content: center;
      flex-direction: column;

      .label-section{
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin: 0;

        .register-label{
          width: 100%;
        }

        .register-input{
          width: 70%;
          margin-left: 2.5em;
        }
      }
    }

    .button-section{
      width: 100%;
      margin: 0;

      .btn-register{
        width: 90%;
        margin-right: 3em;
      }
    }
  }

  //Estilos Responsive Tabla
  table {
    display: block;
    overflow-x: auto;
  }

  .tableTitle {
    font-weight: bold;
    font-size: 1.2em;
    padding: 1em;
    color: black;
  }

  .th-table {
    font-size: .9em;
    font-weight: bold;
    text-align: center;
    padding: .6em;
    background-color: #d7d7d7;
    border: 2px solid #ffffff;
    vertical-align: middle;

    @media (max-width: 480px) {
      font-size: .8em;
    }
  }

  .table td {
    padding: .6em;
    text-align: center;
    font-size: .9em;
    vertical-align: middle;
    border: 2px solid #ffffff;

    @media (max-width: 480px) {
      font-size: .8em;
    }
  }

  .tr-table:nth-child(even) {
    background-color: #f2f2f3;
  }

  .tr-table:hover {
    background-color: #d9edf7;
  }

  .btn-table {
    border-style: none;
    background-color: transparent;
    font-size: 1em;
    color: #3276b1;
    cursor: pointer;
    transition: color .2s;

    &:hover {
      color: #285e8e;
    }
  }

  //Estilos Responsive Header
  .Header{
    max-width: 100%;
    margin: 0;
    padding: 0;
    font-size: 0.85em;
    margin-right: 3em;

    .navbar{
      width: 100%;
      margin: 0;
      padding: 0;

      .navbar-nav{
        width: 100%;
        margin: 0;
        padding: 0;

        .nav-item{
          width: 100%;

          .none{
            display: none;
          }
        }
      }

      .dropdown-menu{
        width: 100%;
        margin: 0;
        padding: 0;

        .dropdown-item{
          width: 100%;
        }

      }
    }
  }
}